.card__body1{
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.tb1 {
   
    border-collapse:  collapse;
    box-shadow: var(--box-shadow);
    background-color: white;
    text-align: left;
    overflow: hidden;
}
.the1{
    border-bottom:1px solid blue ;
    border-right: 2px solid  blue;
    /* box-shadow: var(--box-shadow); */
    padding: 2px;
}
.th1{
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;

}
td{
    padding: 1rem 2rem;
    border-bottom: 1px solid black;
}

td p {
    color: black;
}